.input{
    @apply py-2 px-3 rounded-md appearance-none border;
    &:focus {
        @apply outline-none;
        //@apply shadow-outline;
    }
}


//button

.button {
    @apply py-2 px-3 rounded-md font-medium cursor-pointer;
    &:focus {
        @apply outline-none;
        //shadow-outline
    }
    &:not(button) {
        @apply text-center text-white;
    }
    &.button--sm {
        @apply py-1 px-2;
    }
    &.button--lg {
        @apply py-3 px-4;
    }
}


// remove number increment on input filed if type number

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}